<div class="flex items-center justify-between">
    <a href="/">
    Blorp
    </a>
    <div class="flex items-center space-x-3.5">
        <a href="/">About</a>
        <a href="/">Contact</a>
        <a href="/">Projects</a>
    </div>
</div>